.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*ширина основного контейнера*/
.wrapper{
    width: 1100px;
}

.header {
    background-color: #1c5bc3;
    padding: 20px 20px;
    height: 36px;
}
/*логотип в шапке*/
.logo{
    width: 120px;
    height: 36px;
    float: left;
}
/*контакты в шапке*/
.contacts{
    width: 180px;  
    color: white;  /*цвет шрифта*/ 
    float: right;
}
.contact__phone{
    float: right;
}
.contact__schedule{
    float: right;
}

/*section*/
.page{
    width: 1060px;
    margin:0 20px;
}
.sidebar{
    float: left;
    width: 160px;
}
.nav-menu{
    list-style-type: none; /* Убираем маркеры */
}
.nav-menu__icon{
    display: inline-block; /* Строчно-блочный элемент */
}
.nav-menu__text{
   display: inline-block; /* Строчно-блочный элемент */    
}

.main-content{
    float: right;
    width: 880px;
}
.page-text{
    width: 700px;
}
.description{
    background-color: #1c5bc3;
    height: 115px;
    width: 600px;
    color: white;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 70px;
}
.partners{
    width: 700px;
}
.partners-list{
    list-style-type: none; /* Убираем маркеры */    
}
.partners-item{
    float: left;
    margin-right: 50px;
}

/*footer*/
.footer {
    background-color: #1c5bc3;
    height: 76px;    
}
.author{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
    width: 270px;
}
/*центровка логотипа в footer*/
.footer-logo{
    float: left;
    width: 120px;
    margin-left: 200px;
    margin-top: 20px;
}
.sociale{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    color: white;
    width: 180px;
}

.sociale-list{
    list-style-type: none; /* Убираем маркеры */
}
.social-item{
   display: inline; /* Отображать как строчный элемент */
}