body{
    background: url(../img/bg/kzhhnb6xsqi-margo-brodowicz.png) no-repeat;
}

/*если убрать из css body и раскомментировать .conteiner 
, блок .logo убегает вверх. Почему?*/
/*.conteiner{
    background: url(../img/bg/kzhhnb6xsqi-margo-brodowicz.png) no-repeat;
    height: 650px;
    width: 1100px;
}*/

.logo{
    margin-left: 494px;
    margin-top: 189px; 
}

.button{
    margin-left: 448px;
    margin-top: 42px;
}
