.conteiner{
    background: url(../img/bg/introfon.jpg) no-repeat;/* Путь к фоновому изображению */
    background-size: 100%;
}
.logo{
    
}


/*что тут написано?*/
/*.conteiner{
    background: #000000 url(../img/bg/introfon.jpg) no-repeat 50% 3px;
    background-size: 1122px auto;
}*/