@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold_1.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Light_1.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-LightItalic_1.ttf);
    font-weight: 300;
    font-style: italic;
}