

/*Задаём белый цвет ссылкам*/
.main-content__order{
    color: white;
}

/*текст на картинке на основной странице*/
.page-image{
    position: relative;
}
.page-image__text{
    position: absolute; /* Абсолютное позиционирование */
    top: 162px; /* Положение от верхнего края */
    left: 70px; /* Положение от левого края */
    font-weight: 700;
}

/*оформление текста на странице*/
.page-text{
    width: 700px;
}
.page-text__bold{
    font-weight: 700;
}
.page-text p{
    margin-bottom: 20px;
}
.page-text ul{
    margin-left: 40px;
    margin-bottom: 20px;
}


/*ширина блока с учётом padding, вариант - box-sizing: border-box */
.description{
    background-color: #1c5bc3;
    height: 116px;
    width: 700px;
    color: white;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 70px;
}
.partners{
    height: 420px;
    width: 700px;
}
.partners-title{
    margin-top: 72px;
}
.partners-list{
    list-style-type: none; /* Убираем маркеры */ 
    text-align: left;
    padding: 0; 
}
.partners-item{
    /*float: left;*/
    width: 168px; /* Задание ширины логотипа партнёра */ 
    margin-right: 93px;
    margin-bottom: 50px;
    display: inline-block; /* Строчно-блочный элемент */ 
    vertical-align: middle;/* Выравнивание по средней линии родителя */
    text-align: center;
}

.partners-list li:nth-child(3n){
    margin-right: 0; /* убираем отступ у каждого 3-его логотипа партнёра */ 
}

