/*хлебные крошки*/
.breadcrumbs{
    padding-top: 42px;
}
.breadcrumbs__list{
    list-style: none;
}
.breadcrumbs__item{
    display: inline-block;
    vertical-align: center;
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
}
.breadcrumbs__item:after{
    content: "/";
}
.breadcrumbs__link{
    color: #1c5bc3;
    display: inline-block;
}
/*модификатор*/
.breadcrumbs__item_last:after{
    display: none;
}
.breadcrumbs__item_last .breadcrumbs__link{
    color: #221f1f;
    text-decoration: none;
    cursor: default;
}